# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\tmahr\OneDrive\Documents\School\Cu Boulder 2022 Spring Semeseter\OOAD\OOA_LAB_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
